[tool.poetry]
name = "air-sdk"
version = "2.4.2"
description = "Python SDK for interacting with NVIDIA Air"
license = "MIT"
classifiers = ["Programming Language :: Python :: 3", "License :: OSI Approved :: MIT License", "Operating System :: OS Independent"]
homepage = "https://github.com/NVIDIA/air_sdk"
authors = ["NVIDIA Air <air-support@nvidia.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7.2"
python-dateutil = "2.8.2"
requests = "2.31.0"

# Optional extras for development
coverage = { version = "7.2.7", optional = true}
pydoc-markdown = { version = "4.8.2", optional = true}
pylint = { version = "2.4.4", optional = true}
pylint-print = { version = "1.0.1", optional = true}
pylint-quotes = { version = "0.2.1", optional = true}
pytest = { version = "7.4.0", optional = true}
requests-mock = { version = "1.11.0", optional = true}

[tool.poetry.extras]
dev = ["coverage", "pydoc-markdown", "pylint", "pylint-print", "pylint-quotes", "pytest", "requests_mock"]

[tool.poetry.urls]
"Homepage" = "https://github.com/NVIDIA/air_sdk/issues"
"Bug Tracker" = "https://github.com/NVIDIA/air_sdk/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
